/* Showcase */

#showcase {
    padding: 4em 0 6em;
    margin-bottom: 3em;
    background: #27a2cb;
    background: -moz-linear-gradient(top, #27a2cb 0%, #16d0dc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #27a2cb), color-stop(100%, #16d0dc));
    background: -webkit-linear-gradient(top, #27a2cb 0%, #16d0dc 100%);
    background: -o-linear-gradient(top, #27a2cb 0%, #16d0dc 100%);
    background: -ms-linear-gradient(top, #27a2cb 0%, #16d0dc 100%);
    background: linear-gradient(to bottom, #27a2cb 0%, #16d0dc 100%);
}

#showcase .heading {
    color: #fff;
    font: normal 4.5em/1 'Lato', sans-serif;
    margin: 0 0 .3em;
    letter-spacing: -4px;
    text-shadow: rgba(0,0,0,.4) 0 4px 0;
    -webkit-font-smoothing: antialiased;
}

#showcase .subheading {
    font-size: 1.5em;
    line-height: 1.4em;
    margin: 0 0 1.5em;
    text-shadow: rgba(0,0,0,.25) 0 1px 0;
}

#showcase p {
    color: #fff;
}

/* Showcase signup form */

#showcase h2 {
    color: #fff;
    font-size: 1.6em;
    margin: 0 0 1.15em;
    text-shadow: rgba(0,0,0,.25) 0 1px 0;
}

#showcase .pure-form input[type="email"],
#showcase .pure-form input[type="password"],
#showcase .pure-form input[type="text"] {
    width: 100%;
    font-size: .9em;
    font-family: 'FontAwesome', sans-serif;
    padding: 1em 1.2em;
    margin: .7em 0;
    border-color: #fff;
}

#showcase .pure-form input[type="email"]:focus,
#showcase .pure-form input[type="password"]:focus,
#showcase .pure-form input[type="text"]:focus {
    border-color: #fff !important;
}


#showcase .pure-form .pure-button {
    width: 100%;
}

#signup-form-container {
    position: relative;
    z-index: 10;
}

/* Extra elements */

.fade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,.65);
    z-index: 10;
}

/* Marketing section */

#marketing-section p {
    font-size: .9em;
}

#marketing-section .l-box {
    padding: 2em;
}

#marketing-section .icon {
    font-size: 3.3em;
}

#marketing-section .heading {
    font-size: 1.85em;
    font-weight: normal;
    letter-spacing: -1px;
    margin: .5em 0 0;
    -webkit-font-smoothing: antialiased;
}

/* Feature section */

.section {
    padding: 3em 0;
    border-bottom: 1px solid #e5e5e5;
}

.section .heading {
    font-size: 2.3em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 1.1em;
}

.section p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.section:first-child {
    padding-top: 0;
}

.section:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
