/* Showcase */

#showcase {
    padding: 2em 0 3em;
    background: #202021 url('../../onekloud/img/showcase_bg.png') repeat;
    margin-bottom: 3em;
}

#showcase .heading {
    color: #12c8e8;
    font-size: 4em;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 .3em;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}

#showcase .subheading {
    font-size: 1.5em;
    line-height: 1.4em;
    margin: 0 0 2em;
}

#showcase p {
    color: #fff;
}

/* Showcase signup form */

#showcase h2 {
    color: #fff;
    font-size: 1.6em;
    font-weight: normal;
    margin: 0 0 1.15em;
}

#showcase .pure-form input[type="email"],
#showcase .pure-form input[type="password"] {
    width: 100%;
    font-size: .9em;
    padding: 1em 1.2em;
    margin: .7em 0;
}

#showcase .pure-form .pure-button {
    width: 100%;
}

/* Marketing section */

#marketing-section p {
    font-size: .9em;
}

#marketing-section .l-box {
    padding: 2em;
}

#marketing-section .icon {
    font-size: 3.3em;
}

#marketing-section .heading {
    font-size: 1.85em;
    font-weight: normal;
    letter-spacing: -1px;
    margin: .5em 0 0;
    -webkit-font-smoothing: antialiased;
}

/* Feature section */

.section {
    padding: 3em 0;
    border-bottom: 1px solid #e5e5e5;
}

.section .heading {
    font-size: 2.3em;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
}

.section p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.section:first-child {
    padding-top: 0;
}

.section:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

#signup {
    text-align: center;
}

