/* Pricing section */

#pricing-section {
    margin: 6em auto 1em;
}

#pricing-section p {
    font-size: .95em;
    line-height: 2em;
    margin: 1.7em 0;
}

.pricing-box {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}

.pricing-box .border {
    padding: 1.2em 0 2em;
    border: 1px solid #ddd;
    margin-right: -1px;
}

.price {
    display: block;
    font: normal .9em 'Lato', sans-serif;
}

.pricing-box h2 {
    padding-bottom: 0.8em;
    margin-top: 0;
    border-bottom: 1px solid #e2e7ec;
}

.pricing-box .fa {
    color: #009cdd;
}

.featured {
    position: relative;
    bottom: 2em;
}

.featured .popular {
    display: block;
    text-align: center;
    padding: .4em 0;
    margin-bottom: 1.5em;
    color: #fff;
    background: rgb(0, 120, 231);
    font: normal .7em Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.featured .border {
    padding: 0 0 4em;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.05);
    -o-box-shadow: 0 0 10px rgba(0,0,0,.05);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,.05);
}

/* Modal forms */

.modal p {
    margin-bottom: 1.8em;
}

.modal .pure-form input[type="email"],
.modal .pure-form input[type="text"] {
    font-size: .9em;
    font-family: 'FontAwesome', sans-serif;
    padding: .8em 1em;
    margin: 1em 0;
}
