/* Pricing section */

#pricing-section {
    width: 75%;
    margin: 1.5em auto 1em;
}

.pricing-box {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}

.pricing-box .border {
    padding: 1.2em 0 2em;
    border: 5px solid #e2e7ec;
    border-radius: 1em;
}

.price {
    display: block;
    font-weight: normal;
    font-size: .9em;
}

.pricing-box h2 {
    padding-bottom: 0.8em;
    margin-top: 0;
    border-bottom: 1px solid #e2e7ec;
}

.pricing-box p {
    margin: 1.7em 0;
}

.pricing-box .fa {
    color: #009cdd;
}
