<h1 style="font-weight: normal; font-size: 22px; color: #000;">
    Welcome to your Onekloud CRM Free Trial!
</h1>
<br>
<p style="margin-bottom: 20px;">
    Dear Valued Customer,
</p>
<p style="margin-bottom: 20px;">
    Thank you for registering with Onekloud!
    <br>
    Please click the link below to verify your email address in order to use
    the trial version of Onekloud CRM.
</p>
<p style="margin-bottom: 20px;">
    Your password is <b>demo</b>.
</p>
<p style="margin-bottom: 20px;">
    <a href="https://crm.onekloud.com/auth/activate-trial/?{{ params }}">
        <b>Start my Free Trial</b>
    </a>
</p>
<p>
    Your trusted partner,
    <br>
    Onekloud Team
</p>
