<h1 style="font-weight: normal; font-size: 26px; color: #000;">
    Welcome to your Onekloud CRM Free Trial!
</h1>
<br>
<p>
    Dear Customer,
</p>
<p>
    We noticed that you need to verify your email address in order to use trial
    version of Onekloud CRM. To do so, simply click the link below.
</p>
<p>
    Password is <b>demo</b>.
</p>
<p>
    <a href="https://crm.onekloud.com/auth/activate_trial/?key={{ hash }}&amp;email={{ email }}&amp;company={{ company }}">
        Start my Free Trial
    </a>
</p>
