{% extends 'onekloud/base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Feel free to ask any question or give us a feedback.">
{% endblock %}

{% block css %}
<link href="{% static 'pages/onekloud/css/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="pure-g-r wrap">
    <div class="pure-u-1">
        <div class="l-box">
            <h1>Contact Us</h1>
            <p>
                Feel free to ask any question or give us a feedback.
            </p>
            <div class="pure-g-r">
                <div class="pure-u-2-3">
                    <div class="l-box">
                        <form id="contact-form" class="pure-form pure-form-stacked" method="post">
                            {% csrf_token %}
                            <input type="text" name="subject" class="pure-input-2-3" placeholder="Subject" autocomplete="off" required>
                            <input type="email" name="email" class="pure-input-2-3" placeholder="Email" required>
                            <input type="text" name="phone" class="pure-input-2-3" placeholder="Phone number">
                            <textarea name="body" class="pure-input-1" placeholder="Send us a message" required></textarea>
                            <input type="submit" class="pure-button pure-button-primary pull-right" value="Send">
                        </form>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="l-box">
                        Or call us at:
                        <div class="phone">+60 13 372 7700</div>
                        <small class="gray">
                            Kuala Lumpur 59200, WP, Malaysia.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block menu-contact %}
pure-menu-selected
{% endblock %}
