{% extends 'onekloud/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'pages/onekloud/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block showcase %}
<div class="fade"></div>

<div id="showcase" class="pure-g-r pure-hidden-phone">
    <div class="pure-u-1">
        <div class="wrap">
            <div class="pure-g-r">
                <div class="pure-u-2-3">
                    <div class="l-box">
                        <h1 class="heading">
                            Onekloud CRM
                        </h1>
                        <p class="subheading">
                            Simplify your management.<br>
                            Close deals faster.
                        </p>
                        <a href="#" id="learn-more" class="pure-button pure-button-xlarge pure-button-primary">
                            <i class="fa fa-angle-right"></i>&nbsp;
                            Learn more
                        </a>
                    </div>
                </div>
                <div id="signup-form-container" class="pure-u-1-3">
                    <div class="l-box">
                        <h2>Sign up for free trial</h2>
                        <form class="pure-form pure-form-stacked" method="post">
                            {% csrf_token %}
                            <input type="email" name="email" placeholder="&#xf0e0;  Your email" required>
                            <input type="password" name="password" placeholder="&#xf023;   Create a password" required>
                            <input type="text" name="company" placeholder="&#xf0b1;  Your company name" required>
                            <input type="submit" value="Sign Up" class="pure-button pure-button-xlarge pure-button-success">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="pure-g-r section">
    <div class="pure-u-1">
        <div class="l-box">
            <h2 class="heading">
                Simplify Your Management
            </h2>
            <div class="pure-g-r">
                <div class="pure-u-1-2">
                    <div class="l-box">
                        <p>
                            Experience our Onekloud CRM to maximize your
                            winning. Don't overwhelm yourself with paperwork,
                            use Onekloud CRM to manage meetings and follow-ups.
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="l-box">
                        <img src="{% static 'pages/onekloud/img/simplify-your-management.png' %}"
                             alt="Simplify Your Management">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pure-g-r section">
    <div class="pure-u-1">
        <div class="l-box">
            <h2 class="heading">
                Easy to Use
            </h2>
            <div class="pure-g-r">
                <div class="pure-u-1-2">
                    <div class="l-box">
                        <img src="{% static 'pages/onekloud/img/easy-to-use.png' %}"
                             alt="Easy to Use">
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="l-box">
                        <p>
                            Intuitive and clean interface was made for humans
                            to make your daily routine easier and more
                            enjoyable.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pure-g-r section">
    <div class="pure-u-1">
        <div class="l-box">
            <h2 class="heading">
                Wide Accessibility
            </h2>
            <div class="pure-g-r">
                <div class="pure-u-1-2">
                    <div class="l-box">
                        <p>
                            Don't limit your team using Onekloud CRM only in
                            the office.
                        </p>
                        <p>
                            Onekloud CRM is mobile- and
                            tablet-friendly, what makes you able to use it at
                            trade shows, seminars, meetings and anywhere else.
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="l-box">
                        <img src="{% static 'pages/onekloud/img/wide-accessibility.png' %}"
                             alt="Wide Accessibility">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="signup" class="section">
    <p>
        Ready? Sign up and start using 30-days trial version for free.
    </p>
    <a href="#" class="pure-button pure-button-xlarge pure-button-primary">
        Sign Up
    </a>
</div>
{% endblock %}

{% block menu-home %}
pure-menu-selected
{% endblock %}

{% block js %}
<script src="{% static 'pages/onekloud/js/home.js' %}"></script>
{% endblock %}
