<!doctype html>
{% load static %}

<html lang="en">
<head>
    {# Meta information #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width">

    <title>Presentation • Onekloud</title>

    <link rel="icon" href="{% static 'img/onekloud/favicon.ico' %}" type="image/x-icon">

    {# Vendor CSS files. #}
    <link href="{% static 'pages/vendor/revealjs/css/reveal.css' %}" rel="stylesheet">
    <link href="{% static 'pages/vendor/revealjs/css/default.css' %}" rel="stylesheet">

    {# HTML5 support in older IE browsers. #}
    <!--[if lt IE 9]>
    <script src="{% static 'js/vendor/html5shiv/html5shiv.js' %}"></script>
    <script src="{% static 'js/vendor/html5shiv/html5shiv-printshiv.js' %}"></script>
    <![endif]-->
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <section data-background="#007777">
                <h1>Onekloud CRM</h1>
                <p>
                    Online Customer Relationship Management system
                    <br>
                    that encourages simplicity.
                </p>
            </section>
            <section data-background="#007777">
                <h2>What is CRM</h2>
                <p>
                    Customer Relationship Management (CRM) is a system that helps organizations to
                    distinctly focus on and manage the most important &amp; valuable asset of
                    all time - customers.
                </p>
            </section>
            <section data-background="#007777">
                <h2>What is a good CRM?</h2>
                <p>
                    A good CRM helps an organization to manage, identify and close deals. At the
                    same time maintaining a strong relationship with customers.
                </p>
            </section>
            <section data-background="#007777">
                <h2>Introducing good CRM</h2>
                <p>
                    Onekloud CRM simplifies management of clients' information. Complicated system
                    with long &amp; time consuming processes result in bad management &amp;
                    eventually losing potential or existing customers.
                </p>
            </section>
            <section data-background="#007777">
                <h2>Our aims</h2>
                <p>
                    Our main target is to exposure to international market. We aim to be one of the
                    market leaders for this most sorted system, moving forward in this digital era.
                </p>
            </section>
            <section data-background="#007777">
                <h2>How we work</h2>
                <p>
                    Onekloud CRM is in the "cloud". That means, we can scale. And offer astonishing
                    performance to any number of users.
                </p>
                <p>
                    We also offer Free Trial. Pricing plans are very flexible. Users can just
                    pay-as-they-go.
                </p>
            </section>
            <section data-background="#007777">
                <h2>About the creators</h2>
                <p>
                    We are two young &amp; energetic entrepreneurs who strongly believe that this
                    is a great opportunity to venture. We are proud of our professional partnership:
                    a software architect &amp; a sales person.
                </p>
            </section>
            <section data-background="#007777">
                <h2>Partnership</h2>
                <p>
                    We are currently seeking an investor and a partner at the same time. Our
                    intention is to expand our focus globally, because we believe that we are
                    offering an outstanding CRM system.
                </p>
                <p>
                    We don't have a proper workforce as yet, &amp; of course we need some investments
                    to bring Onekloud to the next level &amp; to become one of the market leaders in
                    the industry of cloud-based CRMs.
                </p>
            </section>
            <section data-background="#007777">
                <h2>Contact us</h2>
                <p>
                    Feel free to ask any question.
                    <br>
                    Call us at <b>+60 13 372 7700</b>.
                    <br>
                    Or drop us an email at
                    <a href="mailto:support@onekloud.com">support@onekloud.com</a>.
                </p>
            </section>
        </div>
    </div>

    {# RevealJS #}
    <script src="{% static 'pages/vendor/revealjs/js/reveal.js' %}"></script>
    <script src="{% static 'pages/onekloud/js/presentation.js' %}"></script>
</body>
</html>
