{% extends 'onekloud/base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="Onekloud’s pricing gives you the flexibility, to pay as you grow! We believe you should pay according to the number of clients you have. It’s just not right for us to charge you for something you don’t need or use.">
{% endblock %}

{% block css %}
<link href="{% static 'pages/onekloud/css/pricing.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="pure-g-r wrap">
    <div class="pure-u-1">
        <div class="l-box">
            <h1>Pricing</h1>
            <p>
                Onekloud’s pricing gives you the flexibility, to <b>pay as you
                grow</b>! We believe you should pay according to the number of
                clients you have. It’s just not right for us to charge you for
                something you don’t need or use.
            </p>
            <div id="pricing-section" class="pure-g-r">
                <div class="pure-u-1-4 pricing-box">
                    <div class="border">
                        <h2>
                            15-days Trial
                            <span class="price gray">Free</span>
                        </h2>
                        <p>
                            Only 1 <span class="gray">member</span><br>
                            Up to 20 <span class="gray">customers</span><br>
                            Unlimited <span class="gray">events</span><br>
                            <span class="gray">Simple reports</span>
                        </p>
                        <a href="/" class="pure-button pure-button-primary signup">
                            Sign Up
                        </a>
                    </div>
                </div>

                <div class="pure-u-1-4 pricing-box">
                    <div class="border">
                        <h2>
                            Individual
                            <span class="price gray">$18/mo</span>
                        </h2>
                        <p>
                            Minimum 1 <span class="gray">member</span><br>
                            Up to 50 <span class="gray">customers</span><br>
                            Unlimited <span class="gray">events</span><br>
                            <span class="gray">Able to export data</span>
                        </p>
                        <a href="{% url 'pages:contact' %}" class="pure-button pure-button-success contact"
                           data-type="individual">
                            Contact
                        </a>
                    </div>
                </div>

                <div class="pure-u-1-4 pricing-box featured">
                    <div class="border">
                        <span class="popular">Most popular</span>
                        <h2>
                            Company
                            <span class="price gray">$15/mo</span>
                        </h2>
                        <p>
                            Minimum 5 <span class="gray">members</span><br>
                            Up to 500 <span class="gray">customers</span><br>
                            Unlimited <span class="gray">events</span><br>
                            <span class="gray">Able to export data</span>
                        </p>
                        <a href="{% url 'pages:contact' %}" class="pure-button pure-button-success contact"
                           data-type="company">
                            Contact
                        </a>
                    </div>
                </div>

                <div class="pure-u-1-4 pricing-box">
                    <div class="border">
                        <h2>
                            Enterprise
                            <span class="price gray">$12/mo</span>
                        </h2>
                        <p>
                            Minimum 10 <span class="gray">members</span><br>
                            Unlimited <span class="gray">customers</span><br>
                            Unlimited <span class="gray">events</span><br>
                            <span class="gray">Able to export data</span>
                        </p>
                        <a href="{% url 'pages:contact' %}" class="pure-button pure-button-success contact"
                           data-type="enterprise">
                            Contact
                        </a>
                    </div>
                </div>
            </div>

            <div class="pure-g-r">
                <div class="pure-u-1-3">
                    <div class="l-box">
                        <h3>
                            <i class="fa fa-cloud"></i>&nbsp;
                            Cloud Technology
                        </h3>
                        <p>
                            Automated on-demand power burst. Uptime 99.99%.
                            Manage your customers and let us do the rest.
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="l-box">
                        <h3>
                            <i class="fa fa-clock-o"></i>&nbsp;
                            Fanatical Support
                        </h3>
                        <p>
                            We provide round-the-clock support. Call us during
                            working hours. Or drop us an email and we assure
                            that you will be attended to within 24 hours.
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="l-box">
                        <h3>
                            <i class="fa fa-lock"></i>&nbsp;
                            256-bit SSL Security
                        </h3>
                        <p>
                            Onekloud CRM uses 256-bit SSL encryption.
                            Therefore, your private data is well protected.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Modal - Contact form #}
<div id="contact-form-modal" class="modal">
    <p>
        Fill in the fields below and we will contact you within 24 hours.
    </p>
    <form class="pure-form pure-form-stacked" method="post">
        {% csrf_token %}
        <input type="email" name="email" class="pure-input-1" placeholder="&#xf0e0;  Your email" required>
        <input type="text" name="company" class="pure-input-1" placeholder="&#xf0b1;  Company name" autocomplete="off" required>
        <input type="text" name="phone" class="pure-input-1" placeholder="&#xf095;   Phone number" autocomplete="off" required>
        <input type="submit" class="pure-button pure-button-primary pull-right" value="Send">
        <div class="clearfix"></div>
    </form>
</div>
{# End Modal. #}

{# Modal - Sign Up form #}
<div id="signup-form-modal" class="modal">
    <p>
        Fill in the fields below to get your <b>free 15-days</b> Trial version.
    </p>
    <form class="pure-form pure-form-stacked" method="post">
        {% csrf_token %}
        <input type="email" name="email" class="pure-input-1" placeholder="&#xf0e0;  Your email" required>
        <input type="text" name="company" class="pure-input-1" placeholder="&#xf0b1;  Company name" autocomplete="off" required>
        <input type="submit" class="pure-button pure-button-primary pull-right" value="Sign Up">
        <div class="clearfix"></div>
    </form>
</div>
{# End Modal. #}
{% endblock %}

{% block menu-pricing %}
pure-menu-selected
{% endblock %}

{% block js %}
<script src="{% static 'pages/onekloud/js/pricing.js' %}"></script>
{% endblock %}
