{% extends 'onekloud/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'pages/onekloud/css/pricing.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1">
        <div class="l-box">
            <h1>Pricing</h1>
            <p>
                Discover the convenient way to manage your customers.
            </p>

            <div class="pure-g-r">
                <div class="pure-u-1-2 pricing-box">
                    <div class="l-box">
                        <div class="border">
                            <h2>
                                Individual
                                <span class="price gray">$20/month</span>
                            </h2>
                            <p class="gray">
                                Unlimited customers<br>
                                Unlimited events<br>
                                Advanced reports
                            </p>
                            <a href="#" class="pure-button pure-button-xlarge pure-button-primary">
                                Subscribe
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-2 pricing-box">
                    <div class="l-box">
                        <div class="border">
                            <h2>
                                Trial
                                <span class="price gray">Free</span>
                            </h2>
                            <p class="gray">
                                20 customers<br>
                                30 events<br>
                                Simple reports
                            </p>
                            <a href="#" class="pure-button pure-button-xlarge pure-button-primary">
                                Signup
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
