{% extends 'onekloud/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'pages/onekloud/css/flat.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1">
        <div class="l-box">
            <h1>Refund Policy</h1>

            <p>
                Payment is to be made in USD based on the number of users
                intended to subscribe to Onekloud’s services via monthly,
                quarterly, half yearly &amp; yearly subscription/payment.
            </p>
            <p>
                You shall provide the effective date of this service for all
                users. All information provided to Onekloud must be valid,
                accurate &amp; up-to-date for billing details. You will pay the
                subscription fees directly to Onekloud via the payment method
                offered by us. All payment made to Onekloud shall not be
                refunded if you subsequently decide not to continue using
                Onekloud’s services.
            </p>
            <p>
                Onekloud reserves the right to increase or decrease the monthly
                pricing. And if so, the new pricing shall apply on the
                following subscription month.
            </p>
            <p>
                All fees are exclusive of all taxes, charges, levies,
                assessments and other fees of any kind imposed on your use of
                the Service and shall be the responsibility of, and payable by,
                you.
            </p>
        </div>
    </div>
</div>
{% endblock %}
