{% extends 'onekloud/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'pages/onekloud/css/flat.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1">
        <div class="l-box">
            <h1>Terms of Service</h1>

            <h3>Authorized Users</h3>
            <p>
                With the purchase of subscription plan offered by Onekloud, you
                are permitted to a non-exclusive and non-transferable right to
                use Onekloud’s services. It is compulsory for you to provide
                accurate information such as full name, valid email address
                &amp; other information needed upon signing up for Onekloud’s
                services. Onekloud CRM is intended only for business use.
            </p>

            <h3>Termination</h3>
            <p>
                You may terminate any of Onekloud’s services by giving written
                notice via email 15 days in advance for paid subscription,
                failing which Onekloud will continue to charge your credit card
                for the following month. All your information will be
                permanently erased from our servers upon cancellation of your
                account. Onekloud reserves the right to terminate your
                subscription without prior notice in our sole discretions for
                reasons including, without limitation, failure to abide by the
                terms in this Agreement.
            </p>

            <h3>Subscription &amp; Payment</h3>
            <p>
                Payment is to be made in USD based on the number of users
                intended to subscribe to Onekloud’s services via monthly,
                quarterly, half yearly &amp; yearly subscription/payment.
            </p>
            <p>
                You shall provide the effective date of this service for all
                users. All information provided to Onekloud must be valid,
                accurate &amp; up-to-date for billing details. You will pay the
                subscription fees directly to Onekloud via the payment method
                offered by us. All payment made to Onekloud shall not be
                refunded if you subsequently decide not to continue using
                Onekloud’s services.
            </p>
            <p>
                Onekloud reserves the right to increase or decrease the monthly
                pricing. And if so, the new pricing shall apply on the
                following subscription month.
            </p>
            <p>
                All fees are exclusive of all taxes, charges, levies,
                assessments and other fees of any kind imposed on your use of
                the Service and shall be the responsibility of, and payable by,
                you.
            </p>

            <h3>Proprietary Rights</h3>
            <p>
                You agree and acknowledge that Onekloud owns all intellectual
                property rights in the services and documentations. Unless
                specify otherwise, you do not have any rights over Onekloud’s
                services and/or documentations which include trade names,
                trademark (whether it is registered or not), copyrights,
                patents, database rights, software, licences and all other
                rights not mentioned here, but in any way related to Onekloud.
            </p>

            <h3>Limitation of Liability</h3>
            <p>
                The maximum aggregate liability of Onekloud shall not exceed
                the last payment made by you to subscribe to our services.
                Services and documentation provided by Onekloud to you are on
                "as is" basis. Onekloud shall not be liable whether in tort
                (including for negligence) and the following whilst using
                Onekloud’s services:
            </p>
            <ol type="a">
                <li>
                    Lost/corruption of data and information.
                </li>
                <li>
                    Lost business, client, income, contracts or profits.
                </li>
                <li>
                    Lost goodwill.
                </li>
                <li>
                    Misrepresentation.
                </li>
                <li>
                    Non-performance.
                </li>
            </ol>

            <h3>Warranty</h3>
            <p>
                We warrant that:
                (i) We have validly entered into this Agreement and have the
                legal power to do so;
                (ii) the functionality of the Services will not be materially
                decreased during a subscription term;
                and (iii) We will not transmit Malicious Code to You; provided
                it is not a breach of this subpart (iii) if You or a User
                uploads a file containing Malicious Code into the Services and
                later downloads that file containing Malicious Code.
            </p>
            <p>
                You warrant that You have validly entered into this Agreement
                and have the legal power to do so.
            </p>

            <h3>Disclaimer</h3>
            <p>
                EXCEPT AS EXPRESSLY PROVIDED HEREIN, NEITHER PARTY MAKES ANY
                WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR
                OTHERWISE, AND EACH PARTY SPECIFICALLY DISCLAIMS ALL IMPLIED
                WARRANTIES, INCLUDING ANY WARRANTIES OF MERCHANTBILITY OR
                FITNESS FOR A PARTICULAR PURPOSE, TO THE MAXIMUM EXTENT
                PERMITTED BY APPLICABLE LAW.
            </p>

            <h3>Agreement</h3>
            <p>
                This Agreement, including all exhibits and addenda hereto and
                all Order Forms, constitutes the entire agreement between the
                parties and supersedes all prior and contemporaneous
                agreements, proposals or representations, written or oral,
                concerning its subject matter. No modification, amendment, or
                waiver of any provision of this Agreement shall be effective
                unless in writing and either signed or accepted electronically
                by the party against whom the modification, amendment or waiver
                is to be asserted. However, to the extent of any conflict or
                inconsistency between the provisions in the body of this
                Agreement and any exhibit or addendum hereto or any Order Form,
                the terms of such exhibit, addendum or Order Form shall
                prevail. Notwithstanding any language to the contrary therein,
                no terms or conditions stated in Your purchase order or other
                order documentation (excluding Order Forms) shall be
                incorporated into or form any part of this Agreement, and all
                such terms or conditions shall be null and void.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block menu-contact %}
pure-menu-selected
{% endblock %}
