{% extends 'onekloud/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'pages/onekloud/css/flat.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="pure-g-r wrap">
    <div class="pure-u-1">
        <div class="l-box">
            <h1>Thank you!</h1>
            <p>
                Your order has been successfully processed. You may now sign 
                in to Onekloud CRM.<br>
                You are from: {{ http_referer }}<br>
                POST: {{ post }}<br>
            </p>
            <p>
                <a href="//crm.onekloud.com/" class="pure-button pure-button-primary">
                    Sign In
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
