{% extends 'onekloud/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'pages/onekloud/css/flat.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="pure-g-r wrap">
    <div class="pure-u-1">
        <div class="l-box">
            <h1>Thank you!</h1>
            <p>
                You have successfully subscribed to Onekloud CRM! Your order 
                number is <b>#{{ data.order_number }}</b>. You may now 
                <a href="//crm.onekloud.com/">sign in</a>.
            </p>
            <p>
                If you have any questions, please feel free to 
                <a href="{% url 'pages:contact' %}">contact us</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
