<div id="signup-form-modal" class="modal">
    <p>
        Fill in the fields below to get your <b>free 15-days</b> Trial version.
    </p>
    <form class="pure-form pure-form-stacked" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="email" name="email" class="pure-input-1" placeholder="&#xf0e0;  Your email" required>
        <input type="text" name="phone" class="pure-input-1" placeholder="&#xf095;  Phone number" required>
        <input type="text" name="company" class="pure-input-1" placeholder="&#xf0b1;  Company name" required>
        <input type="submit" class="pure-button pure-button-primary pull-right" value="Sign Up">
        <div class="clearfix"></div>
    </form>
</div>
