/* Showcase */

#showcase {
    color: #fff;
    padding: 3em 0;
    background: #202021 url('../../../img/onekloud/showcase_bg.png') repeat;
    margin-bottom: 3em;
    text-align: center;
}

#showcase .heading {
    color: #12c8e8;
    font-size: 4em;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 .3em;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}

#showcase .subheading {
    font-size: 1.5em;
    line-height: 1;
    margin: 0 0 2em;
}

/* Marketing section */

#marketing-section p {
    font-size: .9em;
}

#marketing-section .l-box {
    padding: 2em;
}

#marketing-section .icon {
    font-size: 4em;
}

#marketing-section .heading {
    font-size: 1.95em;
    font-weight: normal;
    letter-spacing: -1px;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
}
