/* --------------------------
 * Main Navigation Bar Styles
 * --------------------------
*/

#menu .pure-menu ul {
    float: right;
    width: auto;
    height: auto;
}

#menu .pure-menu .menu-item-divided {
    border-left: 1px solid #333;
}

#menu .pure-menu-selected {
    background: #eee;
}

#menu .pure-menu.pure-menu-open,
#menu .pure-menu.pure-menu-horizontal li .pure-menu-children {
    background: transparent;
}


/* --------------------------
 * Responsive Styles
 * --------------------------
*/

@media (max-width: 767px) {
    #menu {
        width: 410px;
        margin: 0 auto;
    }

    #menu .pure-menu ul {
        float: none;
    }

    #logo {
        text-align: center;
        margin-bottom: 2em;
    }
}
