/* --------------------------
 * Main Navigation Bar Styles
 * --------------------------
*/

#menu .pure-menu ul {
    float: right;
    width: auto;
    height: auto;
}

#menu .pure-menu .menu-item-divided {
    border-left: 1px solid #333;
}

#menu .pure-menu-selected {
    background: #eee;
}

#menu .pure-menu.pure-menu-open,
#menu .pure-menu.pure-menu-horizontal li .pure-menu-children {
    background: transparent;
}


/* --------------------------
 * Responsive Styles
 * --------------------------
*/

@media (max-width: 767px) {
    #menu .pure-button {
        font-size: 1.1em;
        color: #fff;
        background-color: rgb(0, 120, 231);
    }
}

@media (max-width: 420px) {
    #menu {
        width: 100%;
        text-align: center;
    }

    #menu .pure-menu ul {
        float: none;
    }
}
