{% extends 'onekloud/email/base.html' %}

{% block content %}
<div style="font-family: 'Montserrat', Arial; font-size: 15px; line-height: 22px; color: #555;">
    Dear friend,
    <br>
    <br>
    We are pleased to introduce to you <b>Onekloud CRM</b>, unique Customer
    Relationship Management system.
    <br>
    <br>

    <a style="margin: 0; padding: 6px 42px; text-align:center; color:#ffffff; background: #ed4400; border-bottom: 1px solid #575757; border-radius: 6px; text-decoration: none; width: auto;" href="http://www.onekloud.com">
        <span style="color: #fff; background: #ed4400;">
            Deploy Now
        </span>
    </a>

    Welcome to <a href="http://www.onekloud.com">www.onekloud.com</a>!
</div>
{% endblock %}
