<!doctype html>
{% load static %}

<html lang="en">
<head>
    {# Meta information #}
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Close deals with lightning speed.">

    {# Inherited meta information is included inside `meta` block. #}
    {% block meta %}{% endblock %}

    {% if title %}
        <title>{{ title }} · Onekloud</title>
    {% else %}
        <title>Onekloud · Close deals with lightning speed.</title>
    {% endif %}

    <link href="{% static 'img/onekloud/favicon.ico' %}" rel="shortcut icon">

    {# Vendor CSS files. #}
    <link href="{% static 'css/vendor/font_awesome/css/font-awesome.css' %}" rel="stylesheet">
    {% include 'vendor/purecss.html' %}

    {# OneKloud CSS files. #}
    <link href="{% static 'css/onekloud/core.css' %}" rel="stylesheet">
    <link href="{% static 'css/onekloud/menu.css' %}" rel="stylesheet">
    <link href="{% static 'css/onekloud/buttons.css' %}" rel="stylesheet">
    <link href="{% static 'css/onekloud/forms.css' %}" rel="stylesheet">

    {# Inherited CSS files are included inside `css` block. #}
    {% block css %}{% endblock %}

    {# Extra files, such as old IE versions support. #}
    {% block head %}{% endblock %}
</head>

<body>
    <header id="header">
        <div class="wrap">
            <div class="pure-g-r">
                <div class="pure-u-1-5">
                    <div id="logo">
                        <div class="l-box">
                            <a href="/">
                                <img src="{% static 'img/onekloud/logo.png' %}" alt="Onekloud">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="menu" class="pure-u-4-5">
                    <div class="pure-g-r">
                        <div class="pure-u-5-6">
                            <div class="l-box">
                                <div class="pure-menu pure-menu-open pure-menu-horizontal">
                                    <ul class="pull-right">
                                        <li class="pure-menu-selected">
                                            <a href="/">Home</a>
                                        </li>
                                        <li>
                                            <a href="/">Features</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'pages:pricing' %}">Pricing</a>
                                        </li>
                                        <li>
                                            <a href="/">Documentation</a>
                                        </li>
                                        <li>
                                            <a href="/">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1-6">
                            <div class="l-box">
                                <a href="https://crm.onekloud.com" class="pure-button pure-button-primary pull-right">
                                    Sign In
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block showcase %}{% endblock %}

    <div class="pure-g-r">
        <div id="content" class="wrap pure-u-1">

            {# Inherited content is included inside `content` block. #}
            {% block content %}{% endblock %}

        </div>

        {% include 'onekloud/footer.html' %}
    </div>

    {% include 'vendor/google_analytics.html' %}
</body>
</html>
