<!doctype html>
{% load static %}

<html lang="en">
<head>
    {# Meta information #}
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Close deals with lightning speed.">

    {# Inherited meta information is included inside `meta` block. #}
    {% block meta %}{% endblock %}

    {% if title %}
        <title>{{ title }} · Onekloud</title>
    {% else %}
        <title>Onekloud · Close deals with lightning speed.</title>
    {% endif %}

    <link href="{% static 'img/onekloud/favicon.ico' %}" rel="shortcut icon">

    {# Vendor CSS files. #}
    <link href="{% static 'css/vendor/font_awesome/css/font-awesome.css' %}" rel="stylesheet">
    {% include 'vendor/purecss.html' %}

    {# OneKloud CSS files. #}
    <link href="{% static 'css/onekloud/core.css' %}" rel="stylesheet">
    <link href="{% static 'css/onekloud/menu.css' %}" rel="stylesheet">
    <link href="{% static 'css/onekloud/buttons.css' %}" rel="stylesheet">
    <link href="{% static 'css/onekloud/forms.css' %}" rel="stylesheet">

    {# Inherited CSS files are included inside `css` block. #}
    {% block css %}{% endblock %}

    {# Extra files, such as old IE versions support. #}
    {% block head %}{% endblock %}
</head>

<body>
    <header id="header">
        <div class="wrap">
            <div class="pure-g-r">
                <div class="pure-u-1-5">
                    <div id="logo" class="l-box">
                        <a href="/">
                            <img src="{% static 'img/onekloud/logo.png' %}" alt="Onekloud">
                        </a>
                    </div>
                </div>
                <div class="pure-u-4-5">
                    <div id="menu" class="pure-menu pure-menu-open pure-menu-horizontal">
                        <ul class="pull-right">
                            <li class="pure-menu-selected">
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/">Features</a>
                            </li>
                            <li>
                                <a href="/">Pricing</a>
                            </li>
                            <li>
                                <a href="/">Documentation</a>
                            </li>
                            <li>
                                <a href="/">Contact</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="showcase" class="pure-g-r">
        <div class="pure-u-1">
            <div class="wrap l-box">
                <h1 class="heading">Onekloud CRM</h1>
                <p class="subheading">Close deals with lightning speed.</p>
                <a href="#" class="pure-button pure-button-xlarge pure-button-primary">
                    Learn more
                </a>
            </div>
        </div>
    </div>

    <div class="pure-g-r">
        <div id="content" class="wrap pure-u-1">

            {# Inherited content is included inside `content` block. #}
            {% block content %}{% endblock %}

            {% include 'onekloud/footer.html' %}
        </div>
    </div>
</body>
</html>
