<div id="menu" class="pure-u-4-5">
    <div class="pure-g-r">
        <div class="pure-u-5-6">
            <div class="l-box">

                {# Desktop and tablet #}
                <div class="pure-menu pure-menu-open pure-menu-horizontal pure-hidden-phone">
                    <ul>
                        <li class="{% block menu-home %}{% endblock %}">
                            <a href="/">Home</a>
                        </li>
                        <li class="{% block menu-pricing %}{% endblock %}">
                            <a href="{% url 'pages:pricing' %}">Pricing</a>
                        </li>
                        <li class="{% block menu-contact %}{% endblock %}">
                            <a href="{% url 'pages:contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>

                {# Phone #}
                <div class="pure-menu pure-menu-open pure-menu-horizontal pure-hidden-desktop pure-hidden-tablet">
                    <ul>
                        <li>
                            <a href="/" class="pure-button pure-button-small pure-button-primary">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'pages:pricing' %}"
                               class="pure-button pure-button-small pure-button-primary">
                                <i class="fa fa-money"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'pages:contact' %}"
                               class="pure-button pure-button-small pure-button-primary">
                                <i class="fa fa-phone"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://crm.onekloud.com/"
                               class="pure-button pure-button-small pure-button-primary">
                                <i class="fa fa-sign-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="pure-u-1-6">
            <div class="l-box pure-hidden-phone">
                <a class="pure-button pure-button-primary pull-right"
                   href="https://crm.onekloud.com/">
                    Sign In
                </a>
            </div>
        </div>
    </div>
</div>
